.landing-page-version-2 .vector-11 {
  opacity: 0.6;
  filter: blur(150px);
  margin-bottom: 472px;
  width: 715px;
  height: 1425px;
}
.landing-page-version-2 .container-10 {
  margin-right: 17.5px;
  width: 886.5px;
  height: 1502.8px;
}
.landing-page-version-2 .container-13 {
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 904px;
  box-sizing: border-box;
}
.landing-page-version-2 .group-3183418 {
  opacity: 0.22;
  margin: 2134.5px 423.1px 1071.8px 0;
  width: 178.9px;
  height: 193.4px;
}
.landing-page-version-2 .container-17 {
  margin: 1227px 0 740.2px 0;
  width: 730.2px;
  height: 1432.6px;
}
.landing-page-version-2 .container-19 {
  margin: 0 11.3px 127.2px 17px;
  display: flex;
  flex-direction: row;
  width: 2242.2px;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-15 {
  opacity: 0.6;
  filter: blur(150px);
  transform: rotate(8.49deg);
  margin: 1139px 435.5px 0 0;
  width: 715px;
  height: 1425px;
}
.landing-page-version-2 .vector-14 {
  opacity: 0.6;
  filter: blur(150px);
  transform: rotate(8.49deg);
  margin-bottom: 1139px;
  width: 715px;
  height: 1425px;
}
.landing-page-version-2 .container-1 {
  display: flex;
  flex-direction: row;
  width: 2270.6px;
  box-sizing: border-box;
}
.landing-page-version-2 .group-3183375 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2270.6px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .container-21 {
  position: absolute;
  left: -96.9px;
  bottom: -152.2px;
  width: 1609.4px;
  height: 845.1px;
}
.landing-page-version-2 .group-3183415 {
  opacity: 0.22;
  position: absolute;
  left: -104px;
  top: 1710px;
  width: 208px;
  height: 239.5px;
}
.landing-page-version-2 .group-3183416 {
  opacity: 0.22;
  position: absolute;
  left: -104px;
  bottom: 708.5px;
  width: 208px;
  height: 239.5px;
}
.landing-page-version-2 .vector-1 {
  position: absolute;
  left: -96.9px;
  top: -28.7px;
  width: 1609.4px;
  height: 845.1px;
}
.landing-page-version-2 .rectangle {
  opacity: 0.9;
  background: url('../assets/images/rectangle_2.png') 100%;
  position: absolute;
  left: 0px;
  right: 60px;
  bottom: -855px;
  height: 4823px;
}
.landing-page-version-2 .set-up-ci-cd-pipelines-for-kubernetes-in-3-minutes {
  position: absolute;
  left: 207px;
  top: 207px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.15;
  background: linear-gradient(271.15deg, #4E2DBF 123.2%, #4E2DBF 123.21%, #CEBFFF 170.35%, #5C36DC 207.3%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.landing-page-version-2 .streamline-your-kubernetes-deployments-using-devtron-and-say-goodbyeto-writing-yaml-scripts {
  position: absolute;
  left: 207px;
  top: 505px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .by-developers-business {
  position: absolute;
  left: 445.4px;
  top: 771px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .finding-it-difficult-to-manage-ci-cd-pipeline-on-kubernetes {
  position: absolute;
  left: 420.1px;
  top: 1040px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .engineering-teams-that-love-us {
  position: absolute;
  left: 203.2px;
  bottom: 1413px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .reduce-your-ci-cd-burden-on-k-8-sget-started-with-devtron-today {
  position: absolute;
  left: 213px;
  bottom: 508px;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .image-50 {
  background: url('../assets/images/image_50.png') 50% / cover no-repeat;
  position: absolute;
  top: 207px;
  right: 132px;
  width: 495px;
  height: 450px;
}
.landing-page-version-2 .image-56 {
  background: url('../assets/images/image_56.png') 50% / cover no-repeat;
  margin: 7px 0;
  width: 190px;
  height: 44px;
}
.landing-page-version-2 .free-demo-1 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 21.6px;
  color: #030202;
}
.landing-page-version-2 .frame-31834401 {
  border-radius: 50px;
  background: linear-gradient(87.75deg, #FFCA1D 96.8%, #E8B71A 105.74%, #D9AC19 115.58%, #CCA217 135.39%, #D3AF38 149.64%, #DBBD5B 164.63%, #E1C876 177.44%, #FFFFFF 216.4%);
  display: flex;
  padding: 15.5px 2.7px 15.5px 0;
  width: 212px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183439 {
  backdrop-filter: blur(5px);
  background: rgba(0, 2, 18, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 104px;
  box-sizing: border-box;
}
.landing-page-version-2 .free-demo {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 21.6px;
  color: #030202;
}
.landing-page-version-2 .frame-3183440 {
  border-radius: 50px;
  background: linear-gradient(87.75deg, #FFCA1D 96.8%, #E8B71A 105.74%, #D9AC19 115.58%, #CCA217 135.39%, #D3AF38 149.64%, #DBBD5B 164.63%, #E1C876 177.44%, #FFFFFF 216.4%);
  position: absolute;
  left: 584px;
  bottom: 948px;
  display: flex;
  padding: 15.5px 2.7px 15.5px 0;
  width: 212px;
  box-sizing: border-box;
}
.landing-page-version-2 .free-demo-2 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 21.6px;
  color: #030202;
}
.landing-page-version-2 .frame-31834402 {
  border-radius: 50px;
  background: linear-gradient(87.75deg, #FFCA1D 96.8%, #E8B71A 105.74%, #D9AC19 115.58%, #CCA217 135.39%, #D3AF38 149.64%, #DBBD5B 164.63%, #E1C876 177.44%, #FFFFFF 216.4%);
  position: absolute;
  left: 199px;
  top: 628px;
  display: flex;
  padding: 15.5px 2.7px 15.5px 0;
  width: 212px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-5 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 21.4px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-3183463 {
  border-radius: 10px;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding-top: 16px;
  width: 370px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-4 {
  overflow-wrap: break-word;
  font-family: 'Source Sans Pro', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.51;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183462 {
  border-radius: 10px;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding: 12.5px 0;
  width: 173px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-2 {
  overflow-wrap: break-word;
  font-family: 'Source Sans Pro', 'Roboto Condensed';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.51;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-3183460 {
  border-radius: 10px;
  border: 1px solid #EFDEDE;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding: 5.5px 20.4px 5.5px 0;
  width: 521px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-3 {
  overflow-wrap: break-word;
  font-family: 'Source Sans Pro', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.51;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183461 {
  border-radius: 10px;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding: 12.5px 0;
  width: 161px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-195 {
  border-radius: 10px;
  border: 1px solid #E1DCDC;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding: 8px 0.8px 8px 0;
  width: 521px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-1 {
  overflow-wrap: break-word;
  font-family: 'Source Sans Pro', 'Roboto Condensed';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.51;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-3183459 {
  border-radius: 10px;
  border: 1px solid #FFFCFC;
  background: #100505;
  margin-bottom: 6px;
  display: flex;
  padding: 8px 15.4px 8px 0;
  width: 521px;
  box-sizing: border-box;
}
.landing-page-version-2 .full-name-6 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 21.6px;
  color: #030202;
}
.landing-page-version-2 .frame-3183464 {
  border-radius: 50px;
  background: linear-gradient(88.07deg, #D4A818 131%, #E2C872 158.86%, #EADAA5 175.08%, #F6F6F6 209.1%);
  display: flex;
  padding: 15.5px 2.7px 15.5px 0;
  width: 208px;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183465 {
  border-radius: 30px;
  background: #100505;
  position: absolute;
  right: 110px;
  bottom: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  height: 559px;
  box-sizing: border-box;
}
.landing-page-version-2 .compliance {
  margin-bottom: 46.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #F5BD00;
}
.landing-page-version-2 .policy-management {
  opacity: 0.49;
  margin-bottom: 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .deploy-time-app-debuggability {
  opacity: 0.49;
  margin-bottom: 40px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .environment-management {
  opacity: 0.49;
  margin-bottom: 40.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .git-ops-platform {
  opacity: 0.49;
  margin-bottom: 41px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .software-delivery-workflow {
  opacity: 0.49;
  margin: 0 5.9px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .operation-insights {
  opacity: 0.49;
  margin-bottom: 41px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .cost-management {
  opacity: 0.49;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-3183471 {
  margin-right: 95.8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page-version-2 .rectangle-2042 {
  border-radius: 13px;
  position: absolute;
  top: 13px;
  right: 8px;
  width: 305px;
  height: 79px;
}
.landing-page-version-2 .rectangle-2045 {
  border-radius: 13px;
  background: #4E2DBF content-box, linear-gradient(277.19deg, #4E2DBF 121.1%, #CEBFFF 201.3%) border-box;
  border: 2px solid transparent;
  position: absolute;
  left: 0px;
  bottom: 6px;
  width: 306px;
  height: 70px;
}
.landing-page-version-2 .fine-grained-access-control-control-who-can-edit-configuration-and-who-can-deploy {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page-version-2 .container-23 {
  border-radius: 13px;
  background: #4E2DBF content-box, linear-gradient(277.19deg, #4E2DBF 121.1%, #CEBFFF 201.3%) border-box;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 17px;
  padding: 5px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .history-of-all-ci-and-cd-events {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page-version-2 .container-22 {
  border-radius: 13px;
  background: #4E2DBF content-box, linear-gradient(277.19deg, #4E2DBF 121.1%, #CEBFFF 201.3%) border-box;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  padding: 17px 31.2px 16px 20px;
  box-sizing: border-box;
}
.landing-page-version-2 .container-2 {
  margin: 0 14px 6px 0;
  display: flex;
  flex-direction: column;
  width: 313px;
  box-sizing: border-box;
}
.landing-page-version-2 .audit-log-to-know-who-did-what-and-when {
  margin: 0 17.9px 34px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page-version-2 .kubernetes-events-impacting-application {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page-version-2 .container-12 {
  border-radius: 13px;
  background: #4E2DBF content-box, linear-gradient(277.19deg, #4E2DBF 121.1%, #CEBFFF 201.3%) border-box;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  padding: 17px 25.9px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .container-9 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
  box-sizing: border-box;
}
.landing-page-version-2 .container-11 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .relevant-cloud-events-and-their-impact-on-applications {
  margin: 0 20px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page-version-2 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183472 {
  position: relative;
  margin: 7.5px 0 192.5px 0;
  display: flex;
  box-sizing: border-box;
}
.landing-page-version-2 .component-2 {
  position: absolute;
  left: 197px;
  top: 1185.5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page-version-2 .arrow-32 {
  width: 24px;
  height: 0px;
}
.landing-page-version-2 .frame-3183473 {
  border: 2.5px solid #F6F4F4;
  background: #000000;
  transform: rotate(-179.125deg);
  margin-right: 4px;
  display: flex;
  padding: 16.9px 1px 15.9px 0;
  width: 79px;
  height: 37px;
  box-sizing: border-box;
}
.landing-page-version-2 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 300;
  font-size: 32px;
  line-height: 1.15;
  color: #FFFFFF;
}
.landing-page-version-2 .frame-3183474 {
  border: 2.5px solid #000000;
  background: #000000;
  margin: 0.6px 0;
  display: flex;
  padding-left: 1px;
  width: 79px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 162.6px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .arrow-33 {
  background: #FFFFFF;
  width: 24px;
  height: 0px;
}
.landing-page-version-2 .frame-31834751 {
  border: 2.5px solid #F6F4F4;
  background: #000000;
  position: absolute;
  top: 0.6px;
  right: 0px;
  display: flex;
  padding: 15.5px 0 14.1px 1px;
  width: 79px;
  height: 37px;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183476 {
  position: absolute;
  right: 111.4px;
  bottom: 1402.8px;
  width: 210px;
  box-sizing: border-box;
}
.landing-page-version-2 .rectangle-2 {
  background: url('../assets/images/rectangle_1.png');
  margin: 1.2px 0 4.4px 0;
  width: 165px;
  height: 51.5px;
}
.landing-page-version-2 .rectangle-1 {
  background: url('../assets/images/rectangle_4.png');
  margin: 5.8px 0 9px 0;
  width: 175px;
  height: 42.1px;
}
.landing-page-version-2 .rectangle-3 {
  background: url('../assets/images/rectangle.png');
  margin: 14px 0 16px 0;
  width: 149px;
  height: 26.9px;
}
.landing-page-version-2 .group-3183454 {
  width: 150px;
  height: 44.5px;
}
.landing-page-version-2 .group-3183455 {
  margin: 4.7px 0 7.8px 0;
  display: flex;
  width: 150px;
  height: 44.5px;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-35 {
  margin-bottom: 2.8px;
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .vector-36 {
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .container-3 {
  margin: 0 2.4px 10.9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.1px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-37 {
  margin-bottom: 2.8px;
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .vector-38 {
  width: 14.1px;
  height: 27.4px;
}
.landing-page-version-2 .container-5 {
  margin-right: 4.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.1px;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-27 {
  margin: 8px 0.7px 14.7px 0;
  width: 24.6px;
  height: 24.1px;
}
.landing-page-version-2 .vector-28 {
  margin: 14.2px 1.6px 8.6px 0;
  width: 19.2px;
  height: 23.9px;
}
.landing-page-version-2 .vector-29 {
  margin: 14.2px 0 8.6px 0;
  width: 19.2px;
  height: 23.9px;
}
.landing-page-version-2 .vector-30 {
  margin: 14.6px 1.1px 8.6px 0;
  width: 18.4px;
  height: 23.5px;
}
.landing-page-version-2 .vector-31 {
  margin: 8px 2.4px 14.7px 0;
  width: 22.1px;
  height: 24.1px;
}
.landing-page-version-2 .vector-32 {
  margin: 8px 1.6px 14.7px 0;
  width: 5.1px;
  height: 24.1px;
}
.landing-page-version-2 .vector-33 {
  margin: 14.2px 2.1px 8.4px 0;
  width: 19.4px;
  height: 24.2px;
}
.landing-page-version-2 .vector-34 {
  margin: 8px 0 14.7px 0;
  width: 17.3px;
  height: 24.1px;
}
.landing-page-version-2 .group-3183456 {
  margin: 9.1px 0 1.1px 0;
  display: flex;
  flex-direction: row;
  width: 189px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .group-3183457 {
  width: 178px;
  height: 57px;
}
.landing-page-version-2 .rectangle-4 {
  background: url('../assets/images/rectangle_3.png');
  margin: 5.6px 0 5.7px 0;
  width: 114px;
  height: 45.6px;
}
.landing-page-version-2 .group-3183459 {
  margin: 0 49px 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1678px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .rectangle-6 {
  background: url('../assets/images/rectangle_1.png');
  margin: 1.2px 0 4.4px 0;
  width: 165px;
  height: 51.5px;
}
.landing-page-version-2 .rectangle-5 {
  background: url('../assets/images/rectangle_4.png');
  margin: 5.8px 0 9px 0;
  width: 175px;
  height: 42.1px;
}
.landing-page-version-2 .rectangle-7 {
  background: url('../assets/images/rectangle.png');
  margin: 14px 0 16px 0;
  width: 149px;
  height: 26.9px;
}
.landing-page-version-2 .group-31834541 {
  width: 150px;
  height: 44.5px;
}
.landing-page-version-2 .group-31834551 {
  margin: 4.7px 0 7.8px 0;
  display: flex;
  width: 150px;
  height: 44.5px;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-83 {
  margin-bottom: 2.8px;
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .vector-84 {
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .container-24 {
  margin: 0 2.4px 10.9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.1px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-85 {
  margin-bottom: 2.8px;
  width: 14.1px;
  height: 16.5px;
}
.landing-page-version-2 .vector-86 {
  width: 14.1px;
  height: 27.4px;
}
.landing-page-version-2 .container {
  margin-right: 4.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.1px;
  box-sizing: border-box;
}
.landing-page-version-2 .vector-75 {
  margin: 8px 0.7px 14.7px 0;
  width: 24.6px;
  height: 24.1px;
}
.landing-page-version-2 .vector-76 {
  margin: 14.2px 1.6px 8.6px 0;
  width: 19.2px;
  height: 23.9px;
}
.landing-page-version-2 .vector-77 {
  margin: 14.2px 0 8.6px 0;
  width: 19.2px;
  height: 23.9px;
}
.landing-page-version-2 .vector-78 {
  margin: 14.6px 1.1px 8.6px 0;
  width: 18.4px;
  height: 23.5px;
}
.landing-page-version-2 .vector-79 {
  margin: 8px 2.4px 14.7px 0;
  width: 22.1px;
  height: 24.1px;
}
.landing-page-version-2 .vector-80 {
  margin: 8px 1.6px 14.7px 0;
  width: 5.1px;
  height: 24.1px;
}
.landing-page-version-2 .vector-81 {
  margin: 14.2px 2.1px 8.4px 0;
  width: 19.4px;
  height: 24.2px;
}
.landing-page-version-2 .vector-82 {
  margin: 8px 0 14.7px 0;
  width: 17.3px;
  height: 24.1px;
}
.landing-page-version-2 .group-31834561 {
  margin: 9.1px 0 1.1px 0;
  display: flex;
  flex-direction: row;
  width: 189px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .group-31834571 {
  width: 178px;
  height: 57px;
}
.landing-page-version-2 .rectangle-8 {
  background: url('../assets/images/rectangle_3.png');
  margin: 5.6px 0 5.7px 0;
  width: 114px;
  height: 45.6px;
}
.landing-page-version-2 .group-3183460 {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1678px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183488 {
  position: absolute;
  left: -1212px;
  top: 854px;
  display: flex;
  flex-direction: row;
  width: 3405px;
  height: 64px;
  box-sizing: border-box;
}
.landing-page-version-2 .image-33 {
  background: url('../assets/images/image_33.png') 50% / cover no-repeat;
  margin: 0 0 21.7px 0.1px;
  width: 71.1px;
  height: 84.3px;
}
.landing-page-version-2 .productionize-k-8-squickly {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183481 {
  margin-right: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .image-34 {
  background: url('../assets/images/image_34.png') 50% / cover no-repeat;
  margin: 0 4.2px 21.7px 0;
  width: 65.8px;
  height: 58.3px;
}
.landing-page-version-2 .single-interface-build-deploy-debug {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183482 {
  margin: 26px 159px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .image-35 {
  background: url('../assets/images/image_35.png') 50% / cover no-repeat;
  margin: 0 16.4px 45.7px 16.4px;
  align-self: flex-start;
  width: 65.8px;
  height: 58.3px;
}
.landing-page-version-2 .dev-ops-efficiency {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183483 {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page-version-2 .container-20 {
  margin-top: 11px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page-version-2 .image-36 {
  background: url('../assets/images/image_36.png') 50% / cover no-repeat;
  margin: 0 0 58.7px 0.8px;
  width: 65.8px;
  height: 58.3px;
}
.landing-page-version-2 .optimize-cost {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183484 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .container-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 932.3px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .rectangle-2046 {
  opacity: 0.49;
  background: #6DA7EE;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 172px;
  height: 217px;
}
.landing-page-version-2 .frame-3183485 {
  position: absolute;
  left: 201px;
  top: 1827px;
  display: flex;
  padding: 0 0 32px 10.2px;
  width: 1087px;
  box-sizing: border-box;
}
.landing-page-version-2 .image-37 {
  background: url('../assets/images/image_37.png') 50% / cover no-repeat;
  margin: 0 0 13.4px 1.8px;
  width: 65.8px;
  height: 58.3px;
}
.landing-page-version-2 .add-features-as-you-go {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .frame-3183486 {
  margin: 24px 118px 18.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .image-38 {
  background: url('../assets/images/image_38.png') 50% / cover no-repeat;
  margin: 0 28px 29px 0;
  width: 66px;
  height: 54px;
}
.landing-page-version-2 .migrate-apps-to-k-8-seasily {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .container-7 {
  margin: 6px 58.3px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .image-39 {
  background: url('../assets/images/image_39.png') 50% / cover no-repeat;
  margin: 0 70px 61px 0;
  width: 66px;
  height: 53px;
}
.landing-page-version-2 .application-health-alerts {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .container-16 {
  margin-right: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .image-40 {
  background: url('../assets/images/image_40.png') 50% / cover no-repeat;
  margin: 0 77px 47px 0;
  width: 66px;
  height: 53px;
}
.landing-page-version-2 .quick-response-time {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.landing-page-version-2 .container-14 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page-version-2 .frame-3183489 {
  position: absolute;
  left: 158.4px;
  bottom: 1700px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page-version-2 .arrow-31 {
  width: 24px;
  height: 0px;
}
.landing-page-version-2 .frame-3183501 {
  border: 2.5px solid #F6F4F4;
  background: #FFFFFF;
  transform: rotate(179.98deg);
  margin-bottom: 1px;
  display: flex;
  padding: 15.5px 9.5px;
  width: 48px;
  height: 36px;
  box-sizing: border-box;
}
.landing-page-version-2 .container {
  margin: 0px 0.5px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000000;
}
.landing-page-version-2 .arrow-3 {
  background: #090606;
  width: 24px;
  height: 0px;
}
.landing-page-version-2 .frame-3183475 {
  border: 2.5px solid #F6F4F4;
  background: #FFF9F9;
  margin-top: 1px;
  display: flex;
  padding: 15.5px 9.5px 13.1px 9.5px;
  width: 48px;
  height: 36px;
  box-sizing: border-box;
}
.landing-page-version-2 .container-15 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page-version-2 .devtron-enables-us-to-deploy-any-number-of-applications-with-ashared-codebase-and-helps-to-debug-applications-check-events-and-config-in-one-screen-without-switching-to-cloudwatch {
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000B28;
}
.landing-page-version-2 .piyush-verma {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.39;
  color: #000B28;
}
.landing-page-version-2 .technical-lead-delhivery {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000B28;
}
.landing-page-version-2 .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page-version-2 .zyro-image-31 {
  background: url('../assets/images/zyro_image_31.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -49px;
  height: 100%;
}
.landing-page-version-2 .frame-3183500 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: -9px;
  width: 282px;
  height: 273px;
}
.landing-page-version-2 .frame-3183502 {
  background: #FFFFFF;
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 0 31px 29px 31px;
  width: 1020px;
  box-sizing: border-box;
}
.landing-page-version-2 .image-52 {
  background: url('../assets/images/image_51.png');
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -70px;
  height: 100%;
}
.landing-page-version-2 .frame-3183504 {
  background: #FFFFFF;
  position: relative;
  margin: 35px 0;
  width: 210px;
  height: 203px;
}
.landing-page-version-2 .frame-3183505 {
  position: absolute;
  right: 77px;
  bottom: 1095px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page-version-2 {
  background: #000B28;
  display: flex;
  padding-left: 0px;
  width: 1500px;
  box-sizing: border-box;
}
