.no-of-option-42 .rectangle-2046 {
  opacity: 0.49;
  background: #6DA7EE;
  position: absolute;
  right: 181.4px;
  bottom: -11px;
  width: 172px;
  height: 217px;
}
.no-of-option-42 .image-33 {
  background: url('../assets/images/image_33.png') 50% / cover no-repeat;
  margin: 0 0 21.7px 0.1px;
  width: 71.1px;
  height: 84.3px;
}
.no-of-option-42 .productionize-k-8-squickly {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-42 .frame-3183481 {
  margin: 0 34px 34px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-42 .image-34 {
  background: url('../assets/images/image_34.png') 50% / cover no-repeat;
  margin: 0 4.2px 21.7px 0;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-42 .single-interface-build-deploy-debug {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-42 .frame-3183482 {
  margin: 26px 54.3px 54px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-42 .image-35 {
  background: url('../assets/images/image_35.png') 50% / cover no-repeat;
  margin: 0 16.4px 45.7px 16.4px;
  align-self: flex-start;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-42 .dev-ops-efficiency {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-42 .frame-3183483 {
  margin: 2px 52.2px 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.no-of-option-42 .image-40 {
  background: url('../assets/images/image_40.png') 50% / cover no-repeat;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-42 .frame-3183484 {
  margin-left: 0.2px;
  display: flex;
  width: 183px;
  height: 217px;
  box-sizing: border-box;
}
.no-of-option-42 .quick-response-time-cost {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-42 .container-1 {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-42 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.no-of-option-4 {
  display: flex;
  width: 773px;
  box-sizing: border-box;
}
