.no-of-option-441 .image-33 {
  background: url('../assets/images/image_33.png') 50% / cover no-repeat;
  margin: 0 0 21.7px 0.1px;
  width: 71.1px;
  height: 84.3px;
}
.no-of-option-441 .productionize-k-8-squickly {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-441 .frame-3183481 {
  margin: 11px 34px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-441 .image-34 {
  background: url('../assets/images/image_34.png') 50% / cover no-repeat;
  margin: 0 4.2px 21.7px 0;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-441 .single-interface-build-deploy-debug {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-441 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-441 .rectangle-2046 {
  opacity: 0.49;
  background: #6DA7EE;
  position: absolute;
  left: 6.2px;
  right: 0px;
  bottom: 0px;
  height: 217px;
}
.no-of-option-441 .frame-3183482 {
  position: relative;
  margin: 8px 50.6px 0 0;
  display: flex;
  padding: 29px 3.8px 0 0;
  height: 217px;
  box-sizing: border-box;
}
.no-of-option-441 .image-35 {
  background: url('../assets/images/image_35.png') 50% / cover no-repeat;
  margin: 0 16.4px 45.7px 16.4px;
  align-self: flex-start;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-441 .dev-ops-efficiency {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-441 .frame-3183483 {
  margin: 13px 90.4px 40px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.no-of-option-441 .image-36 {
  background: url('../assets/images/image_36.png') 50% / cover no-repeat;
  margin: 0 0 58.7px 0.8px;
  width: 65.8px;
  height: 58.3px;
}
.no-of-option-441 .optimize-cost {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.7px;
  line-height: 1.5;
  color: #989DAD;
}
.no-of-option-441 .frame-3183484 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.no-of-option-44 {
  display: flex;
  flex-direction: row;
  width: 773px;
  box-sizing: border-box;
}
