.property-1-frame-215 .group {
  width: 110.4px;
  height: 21px;
}
.property-1-frame-215 .group-63 {
  display: flex;
  width: 110.4px;
  height: 21px;
  box-sizing: border-box;
}
.property-1-frame-215 .group-107 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 29.8px 0px 0;
  display: flex;
  padding: 24px 0px 20.5px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .phone-pe-logo-1 {
  background: url('../assets/images/phone_pe_logo_1.png');
  width: 134px;
  height: 38.7px;
}
.property-1-frame-215 .group-108 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 28.8px 0px 0;
  display: flex;
  padding: 13.4px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .free-charge-logo-1 {
  background: url('../assets/images/free_charge_logo_1.png') 50% / cover no-repeat;
  width: 155.6px;
  height: 39.5px;
}
.property-1-frame-215 .frame-207 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0px 34.8px 0 0;
  display: flex;
  padding: 15.6px 0.7px 10.4px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .px-upi-logo-vector-1 {
  background: url('../assets/images/px_upi_logo_vector_1.png') 50% / cover no-repeat;
  width: 89.3px;
  height: 30.5px;
}
.property-1-frame-215 .group-109 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0px 29.8px 0 0;
  display: flex;
  padding: 17.9px 0 17.1px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .e-7-f-964711-cf-700048-b-6-a-6-a-1 {
  background: url('../assets/images/e_7_f_964711_cf_700048_b_6_a_6_a_1.png') 50% / cover no-repeat;
  width: 84.9px;
  height: 33.5px;
}
.property-1-frame-215 .group-132 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 29.8px 0px 0;
  display: flex;
  padding: 18.6px 7.4px 13.4px 0;
  width: 148.9px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .px-rupay-logo-1 {
  background: url('../assets/images/px_rupay_logo_1.png');
  width: 111.7px;
  height: 35.7px;
}
.property-1-frame-215 .frame-210 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 20.1px 0px 0;
  display: flex;
  padding: 14.9px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .mastercard-logo-1 {
  background: url('../assets/images/mastercard_logo_2.png');
  position: relative;
  width: 34.4px;
  height: 21.8px;
}
.property-1-frame-215 .mastercard-logo-2 {
  background: url('../assets/images/mastercard_logo_2.png');
  position: absolute;
  right: 0px;
  bottom: 2.7px;
  width: 125.1px;
  height: 14.1px;
}
.property-1-frame-215 .group-64 {
  position: relative;
  width: 159.3px;
  height: 21.8px;
  box-sizing: border-box;
}
.property-1-frame-215 .group-126 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 20.8px 0px 0;
  display: flex;
  padding: 21.6px 0 22.1px 0px;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .visa-inc-logo-1 {
  background: url('../assets/images/visa_inc_logo_1.png') 50% / cover no-repeat;
  width: 90.8px;
  height: 29px;
}
.property-1-frame-215 .group-124 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 21.6px 0px 0;
  display: flex;
  padding: 18.6px 0 17.9px 0;
  width: 141.4px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 .image-11 {
  background: url('../assets/images/image_11.png');
  width: 113.9px;
  height: 37.2px;
}
.property-1-frame-215 .group-125 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 0px;
  display: flex;
  padding: 14.1px 18.6px;
  width: 151.1px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-frame-215 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 17px 0 17.5px 0;
  width: 1400px;
  box-sizing: border-box;
}
