.property-1-variant-26 .which-industry-you-are-in {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.property-1-variant-2 {
  border-radius: 10px;
  background: #02354A;
  display: flex;
  padding: 10px 0.6px 10px 0;
  box-sizing: border-box;
}
