.property-1-default .arrow-31 {
  width: 24px;
  height: 0px;
}
.property-1-default .frame-3183501 {
  border: 2.5px solid #F6F4F4;
  background: #FFFFFF;
  transform: rotate(179.98deg);
  margin-bottom: 1px;
  display: flex;
  padding: 15.5px 9.5px;
  width: 48px;
  height: 36px;
  box-sizing: border-box;
}
.property-1-default .container {
  margin: 0px 0.5px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000000;
}
.property-1-default .arrow-3 {
  background: #090606;
  width: 24px;
  height: 0px;
}
.property-1-default .frame-3183475 {
  border: 2.5px solid #F6F4F4;
  background: #FFF9F9;
  margin-top: 1px;
  display: flex;
  padding: 15.5px 9.5px 13.1px 9.5px;
  width: 48px;
  height: 36px;
  box-sizing: border-box;
}
.property-1-default .container {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.property-1-default .devtron-enables-us-to-deploy-any-number-of-applications-with-ashared-codebase-and-helps-to-debug-applications-check-events-and-config-in-one-screen-without-switching-to-cloudwatch {
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000B28;
}
.property-1-default .piyush-verma {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.39;
  color: #000B28;
}
.property-1-default .technical-lead-delhivery {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000B28;
}
.property-1-default .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.property-1-default .zyro-image-31 {
  background: url('../assets/images/zyro_image_31.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -49px;
  height: 100%;
}
.property-1-default .frame-3183500 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  bottom: -9px;
  width: 282px;
  height: 273px;
}
.property-1-default .frame-3183502 {
  background: #FFFFFF;
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 0 31px 29px 31px;
  width: 1020px;
  box-sizing: border-box;
}
.property-1-default .image-52 {
  background: url('../assets/images/image_51.png');
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -70px;
  height: 100%;
}
.property-1-default .frame-3183504 {
  background: #FFFFFF;
  position: relative;
  margin: 35px 0;
  width: 210px;
  height: 203px;
}
.property-1-default {
  display: flex;
  flex-direction: row;
  width: 1249px;
  box-sizing: border-box;
}
