.property-1-default-3 .bussiness-email {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.property-1-default {
  border-radius: 10px;
  background: #0B6C93;
  display: flex;
  padding: 16.5px 0.3px 16.5px 0;
  box-sizing: border-box;
}
