.property-1-variant-5 .container {
  margin: 0px 1px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000000;
}
.property-1-variant-5 .arrow-3 {
  background: #141313;
  width: 24px;
  height: 0px;
}
.property-1-variant-5 .frame-3183476 {
  border: 2.5px solid #F6F4F4;
  background: #FFFFFF;
  display: flex;
  padding: 15.5px 9.5px 13.1px 9.5px;
  width: 48px;
  height: 36px;
  box-sizing: border-box;
}
.property-1-variant-5 .container-1 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.property-1-variant-5 .this-may-be-by-far-the-best-possible-feature-you-got-aui-we-created-and-tested-abasic-ci-cd-pipeline-without-writing-asingle-line-of-code-all-through-afew-button-clicks {
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 400;
  font-size: 22.8px;
  line-height: 1.39;
  color: #000B28;
}
.property-1-variant-5 .arun-kutty {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.39;
  color: #000B28;
}
.property-1-variant-5 .senior-cloud-architect-deloitte {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000B28;
}
.property-1-variant-5 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.property-1-variant-5 .zyro-image-22 {
  background: url('../assets/images/zyro_image_22.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -101.8px;
  height: 100%;
}
.property-1-variant-5 .frame-3183519 {
  background: #FFFFFF;
  position: relative;
  width: 308px;
  height: 273px;
}
.property-1-variant-5 .frame-3183509 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: -26px;
  display: flex;
  padding: 26px 17px 0 0;
  width: 325px;
  height: 299px;
  box-sizing: border-box;
}
.property-1-variant-5 .arrow-31 {
  width: 24px;
  height: 0px;
}
.property-1-variant-5 .frame-31834761 {
  border: 2.5px solid #F6F4F4;
  background: #FDFAFA;
  transform: rotate(-179.831deg);
  display: flex;
  padding: 18.5px 9.6px 15.5px 1.6px;
  width: 40px;
  height: 39px;
  box-sizing: border-box;
}
.property-1-variant-5 .frame-3183518 {
  position: absolute;
  top: -2px;
  right: 97.9px;
  display: flex;
  width: 60px;
  height: 59.1px;
  box-sizing: border-box;
}
.property-1-variant-5 .frame-3183502 {
  background: #FFFFFF;
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 0 30px 29px 30px;
  width: 1020px;
  box-sizing: border-box;
}
.property-1-variant-5 .zyro-image-31 {
  background: url('../assets/images/zyro_image_31.png') 50% / cover no-repeat;
  position: absolute;
  right: -75px;
  bottom: -97px;
  width: 282px;
  height: 322px;
}
.property-1-variant-5 .frame-3183501 {
  background: #FFFFFF;
  position: relative;
  margin: 24px 0;
  width: 207px;
  height: 225px;
}
.property-1-variant-5 {
  display: flex;
  flex-direction: row;
  width: 1246px;
  box-sizing: border-box;
}
