.property-1-variant-31 .paypal-78440412801 {
  background: url('../assets/images/paypal_78440412801.png');
  width: 110.2px;
  height: 32.8px;
}
.property-1-variant-31 .group-105 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 29.8px 0px 0;
  display: flex;
  padding: 16.4px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .paytm-logo-11 {
  background: url('../assets/images/paytm_logo_11.png');
  width: 111.7px;
  height: 37.2px;
}
.property-1-variant-31 .group-104 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0px 28.8px 0 0;
  display: flex;
  padding: 14.1px 0 14.1px 0px;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .cashfree-payments-logo-1 {
  background: url('../assets/images/cashfree_payments_logo_1.jpeg');
  width: 104.2px;
  height: 31.3px;
}
.property-1-variant-31 .container {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 34.8px 0px 0;
  display: flex;
  padding: 18.6px 0 15.6px 10px;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .px-razorpay-logo-1 {
  background: url('../assets/images/px_razorpay_logo_1.png') 50% / cover no-repeat;
  width: 130.3px;
  height: 27.5px;
}
.property-1-variant-31 .container-3 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 29.8px 0px 0;
  display: flex;
  padding: 18.6px 0 19.4px 0.7px;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .payu-lockup-1 {
  background: url('../assets/images/payu_lockup_1.png');
  width: 77.4px;
  height: 40.2px;
}
.property-1-variant-31 .container-1 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0px 29.8px 0 0;
  display: flex;
  padding: 12.7px 0 12.7px 4.5px;
  width: 147.4px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .container {
  background: url('../assets/images/image_1.png');
  width: 107.2px;
  height: 25.3px;
}
.property-1-variant-31 .container-5 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 20.8px 0px 0;
  display: flex;
  padding: 20.1px 0px 20.1px 0;
  width: 168.2px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .image-14 {
  background: url('../assets/images/image_14.png') 50% / cover no-repeat;
  width: 130.3px;
  height: 34.2px;
}
.property-1-variant-31 .container-4 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0px 20.8px 0 0;
  display: flex;
  padding: 15.6px 0 15.6px 0.7px;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-31 .image-15 {
  background: url('../assets/images/image_15.png');
  width: 129.5px;
  height: 29.8px;
}
.property-1-variant-31 .container-2 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-top: 0px;
  display: flex;
  padding: 17.1px 0 18.6px 0;
  width: 202.5px;
  height: 65.5px;
  box-sizing: border-box;
}
.property-1-variant-3 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 31px 18.6px 30.5px 0;
  width: 1321px;
  box-sizing: border-box;
}
